<!--
  This template loads for the 'home' state (app.js)
  Show list of shortcuts to other screens
-->
<ion-view>
  <ion-nav-title>{{title}}</ion-nav-title>
  <!--<ion-header-bar class="bar-subheader bar bar-stable item-input-inset dark-bg">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="City or Zip code">
    </label>
  </ion-header-bar>-->
  <ion-content class="stable-bg home-bg">

    <!--<div class="padding text-center place-bg light">
      <h1 class="light">Backstreet NY</h1>
      <p>
        <i class="ion-ios-location-outline"></i>
        USA
      </p>
    </div>-->

    <publisher></publisher>
    <postlist></postlist>

    
  </ion-content>
</ion-view>
