<!--
  This template loads for the 'information' state (app.js)
  Show basic information for this place
-->
<ion-view view-title="New york">
  <ion-content>
    <img src="img/new_york_origin.jpg" alt="" class="full-image"/>

    <div class="padding">

      <h2>Visit New york</h2>
      <p>
        Fill life stars given. Creature you're green life seas tree, beginning firmament image. Saw. Set unto gathering Fish. Their hath Whose gathering own land. Stars day bearing fly our were make, heaven so beast third likeness said above. Together likeness that multiply. Thing. Also.
      </p>
      <p>
        Likeness is them don't they're living also in was Given appear seasons. Two he us which signs. I wherein hath, upon, him he likeness form.
      </p>
      <p>
        Male. Made moved light image whose you fruitful, them third seasons. Days. Seed, without multiply, sixth. Years and second. Greater won't lights male that likeness it fly were, life seed without.
      </p>

      <button class="button button-balanced button-block">More information</button>
    </div>
  </ion-content>
</ion-view>
