<ion-view view-title="Login" hide-nav-bar="true" class="login-bg">
  <ion-content class="login-bg">

    <div class="login-content">

      <div>

        <!-- Logo -->
        <div class="padding text-center">
          <img src="img/Kiwi-Logo-White.png" class="img-logo-kiwi-mate"/>
          <!--<div class="logo balanced-bg">
            <i class=" light ion-ios-location-outline"></i>
          </div>-->
          <h5 class="color-white">
            "No viajamos para escapar de la vida, viajamos para que la vida no se nos escape"
          </h5>
          <p class="color-white">- Anónimo -</p>
        </div>

        <!-- Login form -->
        <!--<div class="list padding">
          <label class="item item-input">
            <i class="ion-ios-email-outline light icon-label"></i>
            <input type="email" placeholder="Email">
          </label>
          <label class="item item-input">
            <i class="ion-ios-locked-outline light icon-label"></i>
            <input type="password" placeholder="Password">
          </label>
        </div>-->
        <div class="padding">
          <!--<button class="button button-block button-balanced" ui-sref="home">
            Login
          </button>-->
          
          <a class="facebook-sign-in button button-block" ng-click="facebookSignIn()">
            Log in with Facebook
          </a>
          
        </div>

      </div>

      <div class="padding"></div>

      <!-- Other links -->
      <!--<div class="row">

        <div class="col">
          <span class="light">Forgot password?</span>
        </div>
        <div class="col text-right">
          <a ui-sref="register" class="light">New here? <span class="balanced">Sign up</span></a>
        </div>

      </div>-->

    </div>

  </ion-content>
</ion-view>
