<!--
  This template loads for the 'taxi' state (app.js)
-->
<ion-view view-title="Book a taxi" ng-init="init()">
  <ion-content>
    <div id="map" data-tap-disabled="true"></div>
    <ion-list>

      <ion-item class="item-icon-left">
        <i class="icon ion-ios-flag"></i>
        <b>Camp Nou stadium</b>

        <p>No 2, Barcenola st</p>
      </ion-item>

      <ion-item class="item-icon-left">
        <i class="icon ion-ios-flag-outline"></i>
        <b>Messi's house</b>

        <p>No 102, Barcenola st</p>
      </ion-item>

      <ion-item class="item-icon-left">
        <i class="icon ion-ios-compose-outline"></i>
        <span>Pickup at 10h00pm</span>
      </ion-item>

    </ion-list>

    <div class="padding">
      <button class="button button-block button-balanced">
        Book a taxi
      </button>
    </div>

  </ion-content>
</ion-view>
