<ion-view view-title="{{info.title}}">
  <ion-content>
    <img ng-src="js/Info/img/7.jpg" alt="" class="full-image"/>

    <div class="padding">

      <h2>Medicamentos en NZ</h2>

      <b>IMPORTANTE: Traten de llevar un buen botiquin desde su pais para no andar renegando con los medicamentos</b><br>

      Dolor - Medicamento<br>
      Dolor de cabeza: Head-ache<br>
      Dolor de estómago: stomach-ache<br>
      Dolor de muelas: tooth-ache<br>
      Dolor de espalda: back-ache<br>
      Dolor de garganta: Sore throat<br>
      Mareado: dizzy<br>
      Anticonceptivo: contraceptive.<br>

      <h3>Anticonceptivo</h3>
      Para comprarlas en una farmacia necesitan tener receta para poder comprar las anticonceptivas, por ende tienen que pagar una consulta con un médico, que cuesta NZD 70 aprox (si van al “Familiy Planning” cuesta NZD 46) y el mismo les hará una receta para que vayan a comprarlas a la farmacia. Generalmente salen NZD 83 por la caja que tiene pastillas por 3 meses.<br>

      Generalmente se suele usar traer pastillas para todo un año con receta y no hacen problema, es lo mas comodo.<br>

      <br>
      <p class="fuente">
        Fuente<br>
        <a href="#" onclick="window.open('http://www.manualdemanuel.com/queacute-llevo-a-nz.html', '_system', 'location=yes'); return false;">http://www.manualdemanuel.com/queacute-llevo-a-nz.html</a><br>
        <a href="#" onclick="window.open('http://www.yomeanimoyvos.com/2014/01/me-voy-a-nueva-zelanda-y-las-pastillas-anticonceptivas.html', '_system', 'location=yes'); return false;">http://www.yomeanimoyvos.com/2014/01/me-voy-a-nueva-zelanda-y-las-pastillas-anticonceptivas.html</a><br>
        <a href="#" onclick="window.open('http://www.medsafe.govt.nz/compliance/FAQs.asp', '_system', 'location=yes'); return false;">http://www.medsafe.govt.nz/compliance/FAQs.asp</a><br>
      </p>
    </div>
  </ion-content>
</ion-view>
