<ion-view view-title="{{info.title}}">
  <ion-content>
    <img ng-src="js/Info/img/5.jpg" alt="" class="full-image"/>

    <div class="padding">

      <h2>Licencia Internacional de Conducir</h2>

      En Nueva Zelanda puedes conducir un vehículo (legalmente) solamente si tienes:<br>
      Licencia Internacional<br>
      Licencia de conducir de tu país de origen vigente si está en Inglés<br>
      Traducción oficial de tu licencia si no está en inglés (información más abajo)<br>

      <h3>Licencia Internacional</h3>
      Les recomiendo que saquen la licencia sólo unos días antes de viajar, porque dura 12 meses desde el momento que la entregan y la necesitarán todo el año. En algunas oficinas donde entregan la licencia dicen que solamente les servirá 3 meses, no hagan caso y asegúrense que se las entregan por 12 meses, si se complican vayan a otra oficina. La licencia internacional de conducir es reconocida en Nueva Zelanda por 12 meses desde el día de entrada al país. <br>

      <h3>Traducción </h3>
      Para quienes tienen licencia de conducir (no en inglés), la pueden usar, pero deben además tener una traducción oficial de dicha licencia al inglés. Es decir, la licencia y su traducción son necesarias todo el tiempo. La traducción la hacen aquí en NZ. No la pueden traducir ustedes mismos.<br>


      Los lugares, requisitos y más información para sacar la Licencia Internacional en los siguientes links:<br>

      <b>Argentina:</b> <a href="#" onclick="window.open('www.aca.org.ar/servicios/documentacion/frame.htm', '_system', 'location=yes'); return false;">www.aca.org.ar/servicios/documentacion/frame.htm</a><br>
      <b>Chile:</b> <a href="#" onclick="window.open('www.automovilclub.cl/seccion.php?idfilial=1&idseccion=40', '_system', 'location=yes'); return false;">www.automovilclub.cl/seccion.php?idfilial=1&idseccion=40</a><br>
      <b>España:</b> <a href="#" onclick="window.open('www.dgt.es/portal/gl/oficina_virtual/conductores/permiso_internacional/', '_system', 'location=yes'); return false;">www.dgt.es/portal/gl/oficina_virtual/conductores/permiso_internacional/</a><br>
      <b>Uruguay:</b> <a href="#" onclick="window.open('http://www.acu.com.uy/html/juridicos.html', '_system', 'location=yes'); return false;">www.acu.com.uy/html/juridicos.html</a><br>

      <br>
      <p class="fuente">
        Fuente<br>
        <a href="#" onclick="window.open('http://www.manualdemanuel.com/conducir-en-nueva-zelanda.html', '_system', 'location=yes'); return false;">http://www.manualdemanuel.com/conducir-en-nueva-zelanda.html</a> <br>
        <a href="#" onclick="window.open('http://www.nzta.govt.nz/resources/factsheets/56/new-residents-and-visitors-driving-in-new-zealand.html', '_system', 'location=yes'); return false;">http://www.nzta.govt.nz/resources/factsheets/56/new-residents-and-visitors-driving-in-new-zealand.html</a> <br>
        <a href="#" onclick="window.open('http://www.nzta.govt.nz/licence/residents-visitors/driving-nz.html', '_system', 'location=yes'); return false;">http://www.nzta.govt.nz/licence/residents-visitors/driving-nz.html</a> <br>
        <a href="#" onclick="window.open('http://www.nzta.govt.nz/licence/residents-visitors/driving-nz.html', '_system', 'location=yes'); return false;">http://www.nzta.govt.nz/licence/residents-visitors/driving-nz.html</a> <br>
      </p>
    </div>
  </ion-content>
</ion-view>
