<ion-view view-title="{{info.title}}">
  <ion-content>
    <img ng-src="js/Info/img/10.jpg" alt="" class="full-image"/>

    <div class="padding">

      <h2>Trabajos de campo en NZ</h2>

      <h3>TRABAJOS AL EXTERIOR</h3>
      <h4>PODADOR DE ARBOLES (FRUIT THINNER)</h4>
      El raleo de frutos se realiza generalmente durante noviembre y diciembre. El exceso de fruta se retira del árbol con la mano para permitir que la fruta restante crezca a un tamaño aceptable. También se elimina la fruta de baja calidad. Este trabajo se suele pagar por pieza de trabajo (precio por árbol). Se le paga por el número de árboles que poda por día, o por semana. La paga suele reflejar el grado de dificultad de la obra. Cuanto más difícil el trabajo, mayor será la paga.<br>

      <h4>RECOLECTOR DE FRUTAS (PICKER)</h4>
      Los Recolectores de fruta toman la fruta de los árboles que reúnen cierto color / normas de vencimiento / tamaño y calidad. La fruta se recoge en un balde atado a los hombros. Los cubos se vacían en los contenedores que varían en tamaño. El trabajo es evaluado por un controlador de calidad o supervisor.<br>

      Los recolectores deben estar en forma y tener una buena visión. El trabajo puede implicar el uso de escaleras o plataformas para trabajo elevado. La cosecha de la fruta se suele pagar por pieza de trabajo, o por contenedor. La paga suele reflejar el grado de dificultad de la obra. Cuanto más difícil el trabajo, mayor será la paga. La cosecha de Manzanas por lo general comienza a mediados de febrero y dura hasta mediados de mayo.<br>

      <h4>SELECTOR DE FRUTILLAS (STRAWBERRY PICKER)</h4>
      Generalmente este es un trabajo que se realiza sólo por las mañanas. Los recolectores tienen que estar físicamente en forma y sin problemas de espalda. La paga es generalmente de forma pieza de trabajo.<br>

      <h4>PODADOR DE FRUTAS (FRUIT TREE PRUNER)</h4>
      Trabajo especializado que requiere una cierta formación, si los trabajadores carecen de experiencia. Las ramas de los árboles se podan utilizando tijeras de podar, tijeras de jardinería o podadores electrónicos según los requisitos especificados por el empleador. Los métodos y equipos necesarios pueden variar entre empleadores. Otro equipo que puede utilizarse son escaleras y plataformas para trabajo elevado.<br>

      <h4>CONDUCTOR DE TRACTOR (TRACTOR DRIVER)</h4>
      Los conductores de tractores son responsables de colocar y retirar los cestos de la cosecha. Colocan contenedores vacíos en las posiciones convenientes para los recolectores. y retiran contenedores llenos listos para ser apilados en camiones. Los conductores deben ser capaces de operar maquinaria con seguridad, sin dañar la fruta cosechada.<br>

      <h4>OPERADOR HYDRALADA(HYDRALADA OPERATOR)</h4>
      Las Hydraladas son plataformas elevadas de trabajo y se requiere una cierta cantidad de habilidad para manejarlas. Estos operadores recogen la fruta de las copas de los árboles, por lo general, detrás de los recolectores de tierra y de altura. El operador también puede ser responsable de algunos de mantenimiento de la maquinaria. Los operadores deben ser capaces de operar maquinaria con seguridad y sin dañar la fruta o los árboles cosechados.<br>

      <h4>OPERADOR DE MONTACARGAS (FORKLIFT OPERATOR)</h4>
      Los operadores de montacargas pueden trabajar en el huerto o en la casa de empaque, cargando o descargando los contenedores de frutas de los camiones, colocándolos en lugares con sombra o tiendas refrigeradas. Los operadores también pueden ser responsables de etiquetar los contenedores para garantizar el seguimiento de la fruta.<br>

      <h4>CONDUCTOR DE CAMIONES (TRUCK DRIVER)</h4>
      Los conductores de camiones transportan la fruta desde el huerto hasta las casas de empaque. Los conductores de camiones deben tener una licencia de tráfico pesado (HT) y ser capaz de entregar la fruta de forma segura y en buenas condiciones.<br>

      <h4>TRABAJO EN VIÑEDO EN GENERAL (GENERAL VINEYARD WORK)</h4>
      Esto puede incluir: colocación de alambre, poda o el trabajo de mantenimiento en general.<br>

      <h4>MONITOR DE CULTIVOS (PRE-COSECHA)(CROP MONITOR)</h4>
      Los monitores de los cultivos, previo a la cosecha, visitan la propiedad para identificar las plagas o enfermedades, y evaluar los daños causados . Este trabajo también consiste en la recolección de datos estadísticos.<br>

      <h4>CONTROLADOR DE LA CALIDAD (PRE-COSECHA)</h4>
      Recogida las muestras de la fruta, y la prueba de su madurez según los parámetros estandarizados. Puede incluir varios viajes entre propiedades, largas caminatas dentro de los huertos. Este trabajo también consiste en el cotejo de datos estadísticos.<br>

      <h4>CONTROLADOR DE CALIDAD  (COSECHA) (QUALITY CONTROLLER)</h4>
      Controladores de la calidad del trabajo en la huerta y son responsables de la calidad del producto cosechado. Las muestras aleatorias se toman de cada bandeja y comprueba su calidad, tamaño, color y madurez. Controladores de calidad debe ser capaz de relacionarse bien con los trabajadores y la gerencia.<br>

      <h4>RECURSOS HUMANOS (HUMAN RESOURCES PERSONNEL)</h4>
      El Personal de Recursos Humanos establece requerimientos de mano de obra y reclutan gente para llenar posiciones dentro de la industria.<br>

      <h4>PELADOR DE HOJAS (LEAF PLUCKER)</h4>
      Los peladores de hoja trabajan eliminando el exceso de hojas, al aire libre, en los viñedos para exponer a la luz solar las frutas.<br>









      <h3>TRABAJOS AL INTERIOR</h3>
      <h4>CONTROLADOR DE LA CALIDAD (POST-COSECHA) (QUALITY CONTROLLER)</h4>
      Los controladores de la calidad en la empacadora son responsables de la calidad del producto cosechado. Las muestras aleatorias se toman de cada bandeja y se comprueba su calidad, tamaño, color y madurez. Los controladores de calidad debe ser capaz de relacionarse bien con los trabajadores y la gerencia.<br>

      <h4>EMPLEADO DE ENTRADA DE DATOS (DATA INPUT CLERK)</h4>
      Estos empleados son responsables de ingresar los datos de entrada de los frutos presentados, para proporcionar seguimiento de los productos enviados, y la conciliación de datos con los registros de los productores.<br>

      <h4>ETIQUETADORA (LABELLER)</h4>
      Las etiquetadoras trabajan en el etiquetado de la frutas envasada para envío.<br>

      <h4>EXAMINADOR (GRADER)</h4>
      Los Examinadores trabajan en la clasificación de la fruta, buscando defectos físicos, de color, daños producto de plagas y la calidad general de la fruta que se enviará.<br>

      <h4>LIMPIADOR (CLEANER)</h4>
      Limpiadores trabajan en la bodega de empaque asegurando que la planta cumpla con los estándares de limpieza de la industria.<br>

      <h4>PERSONAL DE TIENDAS REFRIGERADAS (COOLSTORE PERSONNEL)</h4>
      Este personal trabaja en las empacadoras refrigeradas, y su función es  mantener registros del movimiento del stock (de contenedores y cajas llenas). Se requiere precisión y cálculo.<br>

      <h4>APILADOR (STACKER)</h4>
      Los apiladores trabajan en la empaquetadora apilando las cajas embaladas de fruta. Este trabajo implica un montón de trabajo pesado de modo los apiladores deben ser fuertes y estar en forma.<br>

      <h4>EMBALADORES (STRAPPERS)</h4>
      Las Embaladores aseguran la carga (con cinta o en una envoltura de plástico) de acuerdo con las exigencias de los cargadores.<br>

      <h4>EMPACADOR (TRAY FILLER / PACKER)</h4>
      Los empacadores trabajan en la bodega de empaque. Ellos mantienen un ojo en los defectos en el fruto, y aseguran de que el producto envasado esté en buen estado para la venta. <br>

      <br>
      <p class="fuente">
        Fuente<br>
        <a href="#" onclick="window.open('http://www.picknz.co.nz/work-opportunities/work-planner/', '_system', 'location=yes'); return false;">http://www.picknz.co.nz/work-opportunities/work-planner/</a><br>
        <a href="#" onclick="window.open('http://www.yomeanimoyvos.com/2012/02/trabajo-en-nueva-zelanda-donde-cuando.html/', '_system', 'location=yes'); return false;">http://www.yomeanimoyvos.com/2012/02/trabajo-en-nueva-zelanda-donde-cuando.html/</a><br>
        <a href="#" onclick="window.open('http://unargentinoporelmundo.com/donde-cuando-y-de-que-trabajar-en-nueva-zelanda/', '_system', 'location=yes'); return false;">http://unargentinoporelmundo.com/donde-cuando-y-de-que-trabajar-en-nueva-zelanda/</a><br>
      </p>
    </div>
  </ion-content>
</ion-view>
