<ion-view view-title="{{info.title}}">
  <ion-content>
    <img ng-src="js/Info/img/2.jpg" alt="" class="full-image"/>

    <div class="padding">

      <h2>Compra / Venta de Autos</h2>

      Pueden encontrar precios entre NZ$800 a NZ$2500...NZ$3000, de acuerdo si es una van o si el auto esta en buen estado.<br>

      <h3>- Compra directa al dueño</h3>
      Aquí es cosa de suerte, por experiencia personal recomiendo invertir algo de dinero antes de comprar el auto y llevarlo a un mecánico y que le haga una inspección. Paginas de avisos: <a href="#" onclick="window.open('http://www.trademe.co.nz/', '_system', 'location=yes'); return false;">http://www.trademe.co.nz/</a><br>

      <h3>- Compra-Venta de autos (Dealers)</h3>
      Es una buena opción si quieren comprar un auto de mejor calidad y pueden pagar un precio un poco más alto, con garantía y esas cosas. Algunos “dealers” tienen autos de precios muy bajos, pero sin garantía.<br>

      <h3>- Remates (Auction)</h3>
      Esta también es una buena opción. Nuevamente recomiendo gastar un poquito y revisar el auto que le interesa, algunos remates tienen sus propios mecánicos, así que pueden conversar con ellos y preguntar el valor por cada inspección (no debiera ser más de NZ$100).<br>


      <h3>COMPRA – VENTA DE VEHICULO - TRAMITES</h3>

      <h4>-Cambio de dueño</h4>
        <h5>-Comprador del Auto</h5><br>
        El comprador del auto debe hacer el traspaso a su nombre, para eso debe completar el formulario MR13B (Notice of Change of Ownership of Motor Vehicle).<br>
        <br>

        Los datos que necesitan son:<br>
          Licencia de conducir<br>
          El número de la patente (placa) del auto<br>
          Marca y Modelo del auto<br>
          Tarjeta de crédito para el trámite online<br>
          <br>

        Dónde se puede hacer el trámite?<br>
          The Automobile Association (AA) <a href="#" onclick="window.open('http://www.aa.co.nz', '_system', 'location=yes'); return false;">www.aa.co.nz</a> <br>
          NZ Post Shops <a href="#" onclick="window.open('http://www.nzpost.co.nz', '_system', 'location=yes'); return false;">www.nzpost.co.nz</a><br>
          Vehicle Inspection New Zealand (VINZ) <a href="#" onclick="window.open('http://www.vinz.co.nz', '_system', 'location=yes'); return false;">www.vinz.co.nz</a> <br>
          Vehicle Testing New Zealand (VTNZ) <a href="#" onclick="window.open('http://www.vtnz.co.nz', '_system', 'location=yes'); return false;">www.vtnz.co.nz</a><br>
          <br>

        <h5>-Vendedor del Auto</h5>
        El vendedor del auto debe hacer notificar que ha sido vendido, para eso debe completar el formulario MR13A (Notice by person selling/disposing of motor vehicle). Trámite no tiene costo.<br>
        <br>

        Formulario MR13A<br>
          Los datos que necesitan son:<br>
          Licencia de conducir<br>
          El número de la patente (placa) del auto<br>
          Marca y Modelo del auto<br>
          Nombre completo y dirección del comprador<br>
          <br>

        Dónde se puede hacer el trámite?<br>
          The Automobile Association (AA) <a href="#" onclick="window.open('http://www.aa.co.nz', '_system', 'location=yes'); return false;">www.aa.co.nz</a> <br>
          NZ Post Shops <a href="#" onclick="window.open('http://www.nzpost.co.nz', '_system', 'location=yes'); return false;">www.nzpost.co.nz</a><br>
          Vehicle Inspection New Zealand (VINZ) <a href="#" onclick="window.open('http://www.vinz.co.nz', '_system', 'location=yes'); return false;">www.vinz.co.nz</a> <br>
          Vehicle Testing New Zealand (VTNZ) <a href="#" onclick="window.open('http://www.vtnz.co.nz', '_system', 'location=yes'); return false;">www.vtnz.co.nz</a><br>
          <br>


      <h3>WOF y REGISTRATION</h3>
        <h4>- WOF</h4>
          Warrant of Fitness, es un chequeo regular que se efectúa a cada vehículo en NZ. Esta inspección se realiza cada 6 meses en vehículos de 6 años o más, y cada 12 meses en vehículos de antigüedad menor a 6 años. Costo entre NZ$50-70 aproximadamente.<br>
          <br> 

        Donde se saca el WOF?<br>
        En cualquier mecánico autorizado de NZ, los cuales normalmente lo indican en sus talleres. Personalmente recomiendo hacerlo en lugares de WOF independientes, porque los mecánicos tienden a encontrar siempre algo malo que ellos mismos pueden arreglar por una cierta suma de dinero, un negocio obviamente.<br>
        <br>

        Qué revisan en el WOF?<br>
          Condiciones de los neumáticos<br>
          Estado de los frenos<br>
          Estado mecánico del exterior del vehículo (corrosión)<br>
          Luces<br>
          Parabrisas y demás vidrios<br>
          Limpia parabrisas<br>
          Puertas<br>
          Cinturones de seguridad<br>
          Odómetro<br>
          Volante<br>
          Suspensión<br>
          Tubo de escape<br>
          Aceites, goteos, niveles<br>
          <br>

        RECOMENDACIÓN PARA TODO AQUEL QUE TENGA AUTO O VAN <br>
        <a href="#" onclick="window.open('https://www.facebook.com/groups/yomeanimoanz/permalink/923762761091432/', '_system', 'location=yes'); return false;">https://www.facebook.com/groups/yomeanimoanz/permalink/923762761091432/</a><br>
        <br>

      <h3>- VEHICULE REGISTRATION (también llamado Licensing) </h3>
        Es el proceso donde se paga un determinado costo para usar el vehículo en caminos públicos. Este dinero ayuda a pagar proyectos carreteros y programas de seguridad vial. Es obligatorio tener esto igual que el WOF. <br>
        Costo <br>
          3 Meses = NZD 78<br>
          6 Meses = NZD 148<br>
          12 Meses = NZD 288<br>
          <br>

        Los datos que necesitan son:<br>
          Licencia de conducir<br>
          El número de la patente (placa) del auto<br>
          Marca y Modelo del auto<br>
          Nombre completo y dirección del comprador<br>
          <br>

        Dónde se compra?<br>
          The Automobile Association (AA) <a href="#" onclick="window.open('http://www.aa.co.nz', '_system', 'location=yes'); return false;">www.aa.co.nz</a> <br>
          NZ Post Shops <a href="#" onclick="window.open('http://www.nzpost.co.nz', '_system', 'location=yes'); return false;">www.nzpost.co.nz</a><br>
          Vehicle Inspection New Zealand (VINZ) <a href="#" onclick="window.open('http://www.vinz.co.nz', '_system', 'location=yes'); return false;">www.vinz.co.nz</a> <br>
          Vehicle Testing New Zealand (VTNZ) <a href="#" onclick="window.open('http://www.vtnz.co.nz', '_system', 'location=yes'); return false;">www.vtnz.co.nz</a><br>
          <br>

      <h3>-Seguro del Vehiculo</h3>
      Suele ronzar entre los NZ$15 por mes<br>
      <br>

      Opciones:<br>
        -Su banco: pueden contratarlo en la sucursal de su banco, y les será descontado por mes de su cuenta.<br>
        -Seguro AA: esta empresa también les ofrece un seguro para su auto (Sitio Oficial AA). Si hacen clic en “Get a Quote“, les va a hacer algunas preguntas el sistema, y pueden obtener una cotización de cuanto les va a costar el seguro por mes.<br>
        -Seguro STATE: esta es otra empresa que también les va a asegurar su auto (Sitio Oficial State).<br>
        <br>

      <p class="fuente">
        Fuente<br>
        <a href="#" onclick="window.open('http://www.manualdemanuel.com/el-auto.html', '_system', 'location=yes'); return false;">http://www.manualdemanuel.com/el-auto.html</a><br>
        <a href="#" onclick="window.open('http://www.yomeanimoyvos.com/2014/01/comprar-un-auto-en-nueva-zelanda-2.html', '_system', 'location=yes'); return false;">http://www.yomeanimoyvos.com/2014/01/comprar-un-auto-en-nueva-zelanda-2.html</a><br>
        <a href="#" onclick="window.open('http://www.yomeanimoyvos.com/2013/05/conducir-en-nueva-zelanda-requisitos.html', '_system', 'location=yes'); return false;">http://www.yomeanimoyvos.com/2013/05/conducir-en-nueva-zelanda-requisitos.html</a>
      </p>
    </div>
  </ion-content>
</ion-view>
