<ion-view view-title="{{info.title}}">
  <ion-content>
    <img ng-src="js/Info/img/1.jpg" alt="" class="full-image"/>

    <div class="padding">

      <h2>Alojamiento en NZ</h2>

      <h3>Camping:</h3><br>
      Aplicaciones para encontralos:<br>
      - Wikcamps<br>
      - Campermate<br>
      - Rankers<br>
      Tener en cuenta los tiempos de campings respecto al tipo de auto, pueden poner multa.<br>
      <br>
      
      <h3>Backpacker, Hostal:</h3><br>
      <a href="#" onclick="window.open('http://www.bbh.co.nz', '_system', 'location=yes'); return false;">www.bbh.co.nz</a><br>
      <a href="#" onclick="window.open('http://www.booka.co.nz/accommodation-newzealand/backpackers-new-zealand.php', '_system', 'location=yes'); return false;">www.booka.co.nz/accommodation-newzealand/backpackers-new-zealand.php</a><br>
      <a href="#" onclick="window.open('http://www.stayatbase.com', '_system', 'location=yes'); return false;">www.stayatbase.com</a><br>
      <a href="#" onclick="window.open('http://www.yellowpages.co.nz', '_system', 'location=yes'); return false;">www.yellowpages.co.nz</a><br>
      <a href="#" onclick="window.open('http://www.backpackerboard.co.nz/', '_system', 'location=yes'); return false;">www.backpackerboard.co.nz/</a><br>
      <br>

      <h3>Homestay - promedio NZ$200-250 x semana</h3><br>
      Este sistema es muy utilizado sobre todo por estudiantes extranjeros. Consiste en vivir con una familia Kiwi (neozelandesa) pero en tu propio cuarto, pudiendo hacer uso de todas las comodidades de la casa. Por lo general estas familias dan el desayuno y la cena durante la semana, y los fines de semana proporcionan las 3 comidas del día.<br>
      <br>

      <a href="#" onclick="window.open('http://www.homestayfinder.com/Default.aspx', '_system', 'location=yes'); return false;">www.homestayfinder.com/Default.aspx</a><br>
      <a href="#" onclick="window.open('http://www.homestaybooking.com/homestay-new-zealand?gclid=CKG6jp-G3KcCFYlypAodLisC9w', '_system', 'location=yes'); return false;">www.homestaybooking.com/homestay-new-zealand?gclid=CKG6jp-G3KcCFYlypAodLisC9w</a><br>
      <a href="#" onclick="window.open('http://www.hippohomestay.com/', '_system', 'location=yes'); return false;">www.hippohomestay.com/</a><br>
      <br>

      <h3>Flatmate o Roommate - promedio NZ$60-200 x semana</h3><br>
      Es una variación del sistema anterior. Aquí, en la gran mayoría de los casos, no viven con una familia, pero si es una casa donde vive gente de cualquier país, puede ser un matrimonio joven, una pareja, amigos o personas solas, los que tienen una casa con 1 o más habitaciones disponibles. Esta gente arrienda la casa para ellos y subarrienda las piezas a la gente.<br>
      Aquí ustedes se cocinan, se lavan, se preocupan de todo lo de ustedes, pero siguen compartiendo las instalaciones de la casa. Además deben compartir los gastos en algunos casos (los más baratos).<br>
      <br>

      <a href="#" onclick="window.open('http://www.trademe.co.nz/flatmates-wanted', '_system', 'location=yes'); return false;">http://www.trademe.co.nz/flatmates-wanted</a>
      <br>

      <h3>Alquilar una casa - promedio NZ$120-150 x semana</h3><br>
      Esta opción puede ser buena cuando viajan en un grupo de amigos y que estarán en un lugar por mucho tiempo, porque deberán hacer un contrato de arrendamiento por largo tiempo, 3, 6 meses, 9 meses y en algunos casos 12 meses. Los valores varían ampliamente, depende de la ubicación, el tamaño, con o sin muebles y preferencias personales. Ventajas, vivir con los amigos y compartir los gastos.<br>
      <br>

      <a href="#" onclick="window.open('http://www.trademe.co.nz/Trade-me-property/index.htm', '_system', 'location=yes'); return false;">www.trademe.co.nz/Trade-me-property/index.htm</a>
      <br>

      <h3>Help Exchange - Woofing - Couchsurfing</h3><br>
      Se pueden encontrar personas que están dispuestos a darles comida y alojamientos a cambio de 4 0 5 horas de trabajo por día.<br> Los requerimiento de trabajo, la cantidad de días y horas, están especificados en cada anuncio en particular, por lo que ustedes pueden elegir lo que mas les guste, donde mas les guste, ya que la web tiene avisos de todas partes del mundo. En cambio el couchsurfing es totalmente gratuito, la gente presta su "sofa" para que te quedes a dormir.<br>
      <br>

      <a href="#" onclick="window.open('http://www.helpx.net/', '_system', 'location=yes'); return false;">http://www.helpx.net/</a><br>
      <a href="#" onclick="window.open('http://wwoof.net/', '_system', 'location=yes'); return false;">http://wwoof.net/</a><br>
      <a href="#" onclick="window.open('https://www.couchsurfing.com/', '_system', 'location=yes'); return false;">https://www.couchsurfing.com/</a><br>
      <br>

      <h3>Otras paginas recomendadas:</h3><br>
      <a href="#" onclick="window.open('http://www.newzealand.com/ar/accommodation/', '_system', 'location=yes'); return false;">http://www.newzealand.com/ar/accommodation/</a><br>
      <a href="#" onclick="window.open('http://comoserunkiwi.com/guia-nueva-zelanda/alojamiento-nueva-zelanda/', '_system', 'location=yes'); return false;">http://comoserunkiwi.com/guia-nueva-zelanda/alojamiento-nueva-zelanda/</a><br>
      <a href="#" onclick="window.open('https://www.tripadvisor.com.ar', '_system', 'location=yes'); return false;">https://www.tripadvisor.com.ar</a><br>
      <a href="#" onclick="window.open('http://www.travellerspoint.com/accommodation/es/new-zealand/auckland/budget/', '_system', 'location=yes'); return false;">http://www.travellerspoint.com/accommodation/es/new-zealand/auckland/budget/</a><br>
      <br>

      <p class="fuente">
        Fuente<br>
        <a href="#" onclick="window.open('http://www.yomeanimoyvos.com/2014/01/trabajar-por-comida-y-alojamiento-en-nueva-zelanda.html', '_system', 'location=yes'); return false;">http://www.yomeanimoyvos.com/2014/01/trabajar-por-comida-y-alojamiento-en-nueva-zelanda.html</a><br>
        <a href="#" onclick="window.open('http://www.manualdemanuel.com/alojamiento.html', '_system', 'location=yes'); return false;">http://www.manualdemanuel.com/alojamiento.html</a>
      </p>
    </div>
  </ion-content>
</ion-view>
