<ion-view view-title="{{info.title}}">
  <ion-content>
    <img ng-src="js/Info/img/8.jpg" alt="" class="full-image"/>

    <div class="padding">

      <h2>Celulares en NZ</h2>

      <b>Dos opciones:</b>
      - Desbloquear y Liberar el celular antes de viajar<br>
      - Comprar ceular en NZ (son baratos)<br>
        <a href="#" onclick="window.open('http://www.jbhifi.co.nz/phones/', '_system', 'location=yes'); return false;">http://www.jbhifi.co.nz/phones/</a><br>
        <a href="#" onclick="window.open('https://www.dicksmith.co.nz/dn/shop/phones/', '_system', 'location=yes'); return false;">https://www.dicksmith.co.nz/dn/shop/phones/</a><br>
        
      <h3>Compañías de teléfono</h3>
        • Spark (<a href="#" onclick="window.open('http://www.spark.co.nz', '_system', 'location=yes'); return false;">www.spark.co.nz</a>)<br>
        • Vodafone (<a href="#" onclick="window.open('http://www.vodafone.co.nz', '_system', 'location=yes'); return false;">www.vodafone.co.nz</a>)<br>
        • 2 Degrees (<a href="#" onclick="window.open('http://www.2degreesmobile.co.nz', '_system', 'location=yes'); return false;">www.2degreesmobile.co.nz</a>)<br>
        • Skinny (<a href="#" onclick="window.open('http://www.skinny.co.nz', '_system', 'location=yes'); return false;">www.skinny.co.nz</a>)<br>
        <br>
      
      Por si no sabían, todas las empresas permiten cambiarse entre ellas sin perder el número. Así si encuentran una mejor opción y no quieren perder el número, llamen y/o vean las web o centros de información.<br>
      <br>
      La gente en NZ usa mucho el sistema de mensajes, más que los llamados. Si hablan mucho la opción de un plan también es factible, porque pueden contratar un plan de 12 meses, al cabo de ese tiempo el equipo es de ustedes.<br>
      <br>
      Recuerden que es solo una recomendación, ustedes pueden decidir si comprar un simcard  o celular de cualquier empresa o contratar un plan de 12 meses si así lo desean.<br>
      <br>
      Como información adicional y para que no pasen malos ratos, les digo que en NZ no es común (para los kiwis es molesto en realidad) recibir llamadas o mensajes después de las 7-8 pm, porque están ya fuera del trabajo y con sus familias. 
      Ténganlo presente

      <br>
      <p class="fuente">
        Fuente<br>
        <a href="#" onclick="window.open('http://www.manualdemanuel.com/telefono-celular.html', '_system', 'location=yes'); return false;">http://www.manualdemanuel.com/telefono-celular.html</a>
      </p>
    </div>
  </ion-content>
</ion-view>
