<ion-view view-title="{{info.title}}">
  <ion-content>
    <img ng-src="js/Info/img/6.jpg" alt="" class="full-image"/>

    <div class="padding">

      <h2>Cosas para traer a NZ</h2>

      <b>Vitaminas:</b> son más caras aquí en NZ y son necesarias.<br>
      <b>Música:</b> Ipod o reproductor de mp3 infaltable, en varios trabajos lo puedes usar, practico para el viaje
      además.<br>
      <b>Baterías recargables y cargador:</b> Más caras en NZ.<br>
      <b>Desodorante:</b> si usan desodorante en barra, de ese tipo aquí casi no existe, sólo hay spray y roll-on, así es que tráiganse un par mientras encuentran alguno que les guste.<br>
      <b>Calcetines y calcetas:</b> más caras en NZ. Las de buena calidad cuestan sobre los NZ$20 el par.<br>
      <b>Zapatos Gruesos:</b> tipo bototo, si no quieren gastar aquí y tienen unos, tráiganlos (siempre que tengan el espacio), necesarios para la mayoría de los trabajos de temporada.<br>
      <b>Lentes de Sol y gorro:</b> el sol es muy dañino en NZ, la capa de ozono es muy delgada y aunque no es caluroso, el sol te hace mierda la piel. También algo de bloqueador/protector solar es bueno traer.<br>
      <b>Poleras (Remeras):</b> lo que más necesitaran (manga corta o larga) porque es lo que más van a echar a perder trabajando y lo que menos aguanta. En algunos trabajos (como en los packing de kiwis) les pasan un delantal, en otros, chaquetas de seguridad reflectante, pero trabajando al aire libre nada, casi siempre deben usar la ropa que ustedes llevan.<br>
      <b>Jeans:</b> otra prenda infaltable, traigan los viejos para el trabajo.<br>
      <b>Traductor/Diccionario:</b> otro amigo infaltable<br>
      <b>Libros en español:</b> Infaltables para pasar el tiempo libre<br>
      <br>
      Eviten traer cosas demás y que pueden comprar en NZ:<br>
      Toalla, solo 1 grande y 1 de mano (peso y espacio)<br>
      Shampoo/Acondicionador pequeños (espacio y peso)<br>
      Zapatos/Zapatillas/Bototos (solo los necesarios, espacio y peso)<br>
      Casacas/Chaquetas (1 por espacio)

      <br>
      <p class="fuente">
        Fuente<br>
        <a href="#" onclick="window.open('http://www.manualdemanuel.com/queacute-llevo-a-nz.html', '_system', 'location=yes'); return false;">http://www.manualdemanuel.com/queacute-llevo-a-nz.html</a>
      </p>
    </div>
  </ion-content>
</ion-view>
