<ion-view view-title="Información">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/info/1">
        <img ng-src="js/Info/img/1-small.jpg">
        <h2>Alojamiento en NZ</h2>
        <p>Todo lo que tenes que saber sobre alojamientos</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/info/2">
        <img ng-src="js/Info/img/2-small.jpg">
        <h2>Autos en NZ</h2>
        <p>Todo lo que tenes que saber sobre compra de autos</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/info/3">
        <img ng-src="js/Info/img/3-small.jpg">
        <h2>Bancos en NZ</h2>
        <p>Todo lo que tenes que saber sobre tramites en banco</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/info/4">
        <img ng-src="js/Info/img/4-small.jpg">
        <h2>IRD en NZ</h2>
        <p>Todo lo que tenes que saber sobre tramite de IRD</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/info/5">
        <img ng-src="js/Info/img/5-small.jpg">
        <h2>Licencia de conducir en NZ</h2>
        <p>Todo lo que tenes que saber sobre tramite de licencia de conducir</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/info/6">
        <img ng-src="js/Info/img/6-small.jpg">
        <h2>Que llevar a NZ</h2>
        <p>Todo lo que tenes que saber para llevar a NZ</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/info/7">
        <img ng-src="js/Info/img/7-small.jpg">
        <h2>Medicamentos en NZ</h2>
        <p>Todo lo que tenes que saber sobre medicamentos</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/info/8">
        <img ng-src="js/Info/img/8-small.jpg">
        <h2>Celular en NZ</h2>
        <p>Todo lo que tenes que saber sobre telefono celular en NZ</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/info/9">
        <img ng-src="js/Info/img/9-small.jpg">
        <h2>Trabajo en NZ</h2>
        <p>Todo lo que tenes que saber sobre el trabajo</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/info/10">
        <img ng-src="js/Info/img/10-small.jpg">
        <h2>Trabajo de Campo en NZ</h2>
        <p>Todo lo que tenes que saber sobre el trabajo de campo</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      
    </ion-list>
  </ion-content>
</ion-view>