<ion-view view-title="{{info.title}}">
  <ion-content>
    <img ng-src="js/Info/img/4.jpg" alt="" class="full-image"/>

    <div class="padding">

      <h2>El Número de Impuestos (Tax Number. IRD)</h2>

      <b>Lugar de tramite:</b>
      Auckland, Tauranga.<br>

      <b>Demora</b>
      8 y 10 días.<br>

      <h3>Papeles a presentar para el IRD</h3>
      - Prueba de que tiene una cuenta en algún banco de Nueva Zelanda, presentando un resumen del banco o una carta del banco. 
      Importante: no aceptan "balance account", tienen que pedir un "Statement of account" para que se los tomen como válido.<br>
      - Identificación fotográfica: Pasaporte o Licencia internacional de conducir (pueden ser fotocopias)<br>
      - Prueba de dirección actual o la más reciente: Una nota de la persona que los aloja, diciendo que viven ahí y firmada por la misma o factura de algun servicio (agua, luz, etc) en donde viven.<br>
      - Prueba de Identificación tributaria en su país de origen (TIN): Prueba de Identificación tributaria: Constancia de CUIL para Argentina o RUT para Chile o CI para Uruguay.<br>
      - Prueba de sus intenciones laborales en Nueva Zelanda: Fotocopia de la VISA con la que llegaron a NZ.<br>
      - Formulario IR 742: <a href="#" onclick="window.open('http://www.ird.govt.nz/resources/9/f/9f89c76d-f047-4bac-a153-83454206dd54/ir742.pdf', '_system', 'location=yes'); return false;">http://www.ird.govt.nz/resources/9/f/9f89c76d-f047-4bac-a153-83454206dd54/ir742.pdf</a><br>


      <h3>Envio de papeles</h3>
        <h4>Opción 1: Enviarlo por mail al offshore@ird.govt.nz</h4>
        Denotando su intención de sacar el IRD y adjuntando los papeles digitalizados.<br>


        <h4>Opción 2: Enviarlo por correo postal</h4>
        Datos:  Inland Revenue<br>
          PO Box 39050<br>
          Wellington Mail Centre<br>
          5045 <br>
          New Zealand <br>

        <h4>Opción 3: Personalmente</h4>
        A una oficina de AA (Asociacion de Automovilistas) o a uUna oficina de IRD local.<br>


      <h3>Consultar IRD</h3>
      Una vez hecha la entrega de documentos, tu número IRD normalmente estará listo entre 2 y 3 semanas. No es necesario esperar a que llegue la tarjeta con el número IRD, nunca la piden en los trabajos, solo el número y para saberlo debes llamar por teléfono:<br>
      En Nueva Zelanda llamar al 0800 227 774 (llamada gratis no aplicable a celulares)<br>
      Desde un celular llamar al 04 978 0738 (llamada pagada, así que es bueno tener dinero en el celular)<br>
      Horario de atención: 8am a 8pm Lunes a Viernes, y de 9am a 1pm Sábados<br>
      <br>
      <p class="fuente">
        Fuente<br>
        <a href="#" onclick="window.open('http://www.yomeanimoyvos.com/como-obtener-el-ird-en-nueva-zelanda', '_system', 'location=yes'); return false;">http://www.yomeanimoyvos.com/como-obtener-el-ird-en-nueva-zelanda</a><br>
        <a href="#" onclick="window.open('http://www.manualdemanuel.com/ird-tax-number.html', '_system', 'location=yes'); return false;">http://www.manualdemanuel.com/ird-tax-number.html</a><br>
        <a href="#" onclick="window.open('http://www.manualdemanuel.com/como-saber-el-numero-ird.html', '_system', 'location=yes'); return false;">http://www.manualdemanuel.com/como-saber-el-numero-ird.html</a>
      </p>
    </div>
  </ion-content>
</ion-view>
