<ion-view view-title="{{info.title}}">
  <ion-content>
    <img ng-src="js/Info/img/9.jpg" alt="" class="full-image"/>

    <div class="padding">

      <h2>Trabajos en NZ</h2>

      <b>Tipos de trabajo:</b>
      Hospitality, Trabajos en el campo, Carpinteros, Pintores, Trabajos en fábricas y mucho mas!<br>
      <br>

      Buscar trabajo en Nueva Zelanda<br>
      <a href="#" onclick="window.open('http://www.trademe.co.nz/Trade-Me-Jobs/', '_system', 'location=yes'); return false;">http://www.trademe.co.nz/Trade-Me-Jobs/</a><br>
      <a href="#" onclick="window.open('http://www.seasonaljobs.co.nz/', '_system', 'location=yes'); return false;">http://www.seasonaljobs.co.nz/</a><br>
      <a href="#" onclick="window.open('http://www.seek.co.nz/', '_system', 'location=yes'); return false;">http://www.seek.co.nz/</a><br>
      <a href="#" onclick="window.open('http://www.backpackerboard.co.nz/', '_system', 'location=yes'); return false;">http://www.backpackerboard.co.nz/</a><br>
      <a href="#" onclick="window.open('http://www.backpackerguide.nz/', '_system', 'location=yes'); return false;">http://www.backpackerguide.nz/</a><br>
      <a href="#" onclick="window.open('https://www.careers.govt.nz/', '_system', 'location=yes'); return false;">https://www.careers.govt.nz/</a><br>
      <a href="#" onclick="window.open('http://newkiwis.co.nz/', '_system', 'location=yes'); return false;">http://newkiwis.co.nz/ - sirve para los que no están en Nueva Zelanda y quieren ir buscando</a><br>
      <a href="#" onclick="window.open('http://canstaff.com/', '_system', 'location=yes'); return false;">http://canstaff.com/ - agencia de trabajo, muchas sucursales en la isla sur</a><br>
      <a href="#" onclick="window.open('http://winejobsonline.com/', '_system', 'location=yes'); return false;">http://winejobsonline.com/ - trabajos en viñedos</a><br>
      <a href="#" onclick="window.open('http://www.coolstore.co.nz/', '_system', 'location=yes'); return false;">http://www.coolstore.co.nz/ - trabajos en granjas de kiwis, viñedos, etc.</a><br>
      <a href="#" onclick="window.open('http://www.eastpak.com/oc-en/', '_system', 'location=yes'); return false;">http://www.eastpak.com/oc-en/ - packhouse de kiwis</a><br>
      <a href="#" onclick="window.open('http://www.pickingjobs.com/', '_system', 'location=yes'); return false;">http://www.pickingjobs.com/ - trabajo de campo</a><br>
      <a href="#" onclick="window.open('http://blueberry.co.nz/', '_system', 'location=yes'); return false;">http://blueberry.co.nz/ - trabajo con blueberry</a><br>

      <br>
      <p class="fuente">
        Fuente<br>
        <a href="#" onclick="window.open('http://www.yomeanimoyvos.com/2010/06/la-caja-de-herramientas-del-viajero.html', '_system', 'location=yes'); return false;">http://www.yomeanimoyvos.com/2010/06/la-caja-de-herramientas-del-viajero.html</a>
      </p>
    </div>
  </ion-content>
</ion-view>
