<ion-view view-title="{{info.title}}">
  <ion-content>
    <img ng-src="js/Info/img/3.jpg" alt="" class="full-image"/>

    <div class="padding">

      <h2>Tramites en bancos</h2>

      <b>¿Cuáles bancos hay?</b> ANZ, BNZ,  Kiwibank, Westpac

      <h3>ANZ: Es el que más recomiendan:</h3>
        -Cobra  solo cinco dólares por extracción en ATM de otro banco. Se puede usar en el sudeste asiático.<br> 
        -Se puede iniciar el trámite para abrir una cuenta Go de manera online<br>
        Acá: <a href="#" onclick="window.open('http://www.anz.co.nz/personal/migrants-travel-foreign-exchange/microsite/en/move-to-nz/?pid=RET-MIG-HBA-migrant_targeting-Q416-christchurch', '_system', 'location=yes'); return false;">http://www.anz.co.nz/personal/migrants-travel-foreign-exchange/microsite/en/move-to-nz/?pid=RET-MIG-HBA-migrant_targeting-Q416-christchurch</a><br>

      <h3>Papeles a presentar:</h3>
        - Pasaporte<br>
        - Proof adress (una prueba de domicilio. Tienen que pedir en el hostel una carta que pruebe que están ahí o al dueño del departamento).<br>

      <h3>INFO EXTRA</h3>
        En el BNZ a muchos viajeros les están pidiendo una oferta de trabajo, o que ya tengan trabajo para abrir la cuenta en el BNZ, por ende si les piden esto, simplemente van a otro banco, ya que ANZ o Westpac no lo pide.) <br>
        
      <h3>TIP IMPORTANTE </h3>
        Para obtener la cuenta de banco más rápido, si es que les dan turno para varios días después en las oficinas del centro, les recomendamos ir al barrio de Parnell oTakapuna en Auckland. En esos barrios se las abren en el acto, o como mucho les dan turno para dentro de 2 o 3 horas.<br>

      <h3>RECOMENDACIÓN:</h3>
        Muchos recomiendan abrir una cuenta Go (como la de débito, para gastos diarios) y una cuenta Serious SaVer (como una caja de ahorro)<br>
        Pedir la VISA debit card te permite hacer compras en todo el mundo. Te cobra 10 usd anuales.<br>
      <br>
      <p class="fuente">
        Fuente<br>
        <a href="#" onclick="window.open('http://www.manualdemanuel.com/cuenta-de-banco.html', '_system', 'location=yes'); return false;">http://www.manualdemanuel.com/cuenta-de-banco.html</a>
      </p>
    </div>
  </ion-content>
</ion-view>
