<div class="list card">

  <div class="item item-avatar">
    <img ng-src="{{picture}}">
    <h2>{{username}}</h2>
    <p>{{date}}</p>
  </div>

 <div class="button-bar">
    <button class="button icon-left ion-camera" ng-click="loadImage()">Sacar Foto</button>
    <button class="button icon-left ion-share" ng-click="publishPost()">Publicar</button>
  </div>

  <div class="item item-body">
    <input type="text" ng-model="content" placeholder="Contate algo...">
    <img ng-src="{{pathForImage(image)}}" ng-if="image" class="full-image">
  </div>

</div>